<style>
.lang-select-from {
  width: 400px;
}


</style>



<template>
  <!-- <div>
    <div>
      <textarea v-model="text"></textarea>
      <div>
        <button @click="speechCreate()">Speak</button>
        <button @click="download">Download</button>
      </div>
    </div>
  </div> -->

  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <p>nanti logo taro sini ya</p>
      </a>
    </div>
  </nav>
  <div class="container mt-2 pt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">Text-to-Speech</div>
        <div class="card-body grid gap-0 column-gap-2 p-2 m-2 g-col-6">
          <textarea
            class="form-control"
            id="floatingTextarea2Disabled"
            style="height: 100px"
            v-model="textDefault"
          ></textarea>
          <br />
          <div class="d-flex gap-2 lang-select">
            <button @click="speechCreate()" class="btn btn-primary">
              Speak
            </button>
            <select
              class="d-flex gap-2 form-select"
              aria-label="Default select example"
              v-model="langOption"
              @change=""
            >
              <option selected disabled>Select a language</option>
              <option value="ID">Bahasa Indonesia</option>
              <option value="EN">Bahasa Inggris</option>
              <option value="JV">Bahasa Jawa</option>
              <option value="SU">Bahasa Sunda</option>
            </select>
            <div class="doc-select">
              <input
                class="form-control"
                type="file"
                id="formFile"
                ref="doc"
                @change="readFile()"
              />
            </div>
            <div class="d-flex flex-row">
              <button @click="clearText()" class="btn btn-primary">
                Clear
              </button>
            </div>
            <div class="d-flex flex-row">
              <button @click="audioDownload()" class="btn btn-primary">
                donlod
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <!-- Translate -->


    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">From</h5>
            <div class="form-floating pb-3">
                  <textarea
                    class="form-control"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="beforeTranslation"
                  ></textarea>
                </div>
                <div class="d-flex flex-row gap-2 w-30">
                  <select
                      class="form-select"
                      aria-label="Default select example"
                      v-model="translateTo"
                    >
                      <option value="indonesian">Bahasa Indonesia</option>
                      <option value="english">Bahasa Inggris</option>
                      <option value="javanese">Bahasa Jawa</option>
                      <option value="sundanese">Bahasa Sunda</option>
                    </select>
                  </div>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">To</h5>
            <div class="form-floating pb-3">
                  <textarea
                    class="form-control"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="afterTranslation"
                  ></textarea>
                </div>
                <!-- select language -->
                <div class="d-flex flex-row w-50 gap-2">
                  <select
                      class="form-select"
                      aria-label="Default select example"
                      v-model="translateTo"
                    >
                      <option value="indonesian">Bahasa Indonesia</option>
                      <option value="english">Bahasa Inggris</option>
                      <option value="javanese">Bahasa Jawa</option>
                      <option value="sundanese">Bahasa Sunda</option>
                    </select>
                    <div class="d-flex flex-row justify-content-end">
                      <a class="btn btn-primary">Translate</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Translate -->

</template>

<script>
import "speak-tts";
import Speech from "speak-tts";

export default {
  name: "SpeechToText",
  data() {
    return {
      text: "",
      synth: null,
      audioUrl: "",
      audioBlob: null,
      speech: new Speech(),
    };
  },
  methods: {
    async speechCreate() {
      const utterance = {
        text: this.textDefault,
        voice: this.selectedVoice,
      };
      await this.speech
        .speak(utterance)
        .then(() => {
          const audioBlob = this.speech.toAudioBuffer(utterance);
          const audioUrl = URL.createObjectURL(new Blob([audioBlob]));
          const link = document.createElement("a");
          link.href = audioUrl;
          link.download = "audio.mp3";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          URL.revokeObjectURL(audioUrl);
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>