<script>
import Speech from "speak-tts";
import translate from "translate";
import axios from "axios";

export default {
  data() {
    return {
      textDefault: "",
      beforeTranslation: "",
      translateFrom: "",
      translateTo: "",
      afterTranslation: "",
      translateToVoice: "",
      file: null,
      content: null,
      htmlCode: "",
      text: "",
      langOption: null,
      audioCreated: false,
      lang: null,
      voiceName: null,
    };
  },
  methods: {
    async speechCreate() {
      let speech = new Speech();

      if (this.langOption == "ID") {
        this.lang = "id-ID";
        this.voiceName =
          "Microsoft Ardi Online (Natural) - Indonesian (Indonesia) " ||
          "Google Bahasa Indonesia";
      } else if (this.langOption == "EN") {
        this.lang = "en-GB";
        this.voiceName =
          "Google UK English Female" ||
          "Microsoft Maisie Online (Natural) - English (United Kingdom)";
      } else if (this.langOption == "JV") {
        speech.setLanguage("jv-ID");
        this.lang = "jv-ID";
        this.voiceName =
          "Microsoft Siti Online (Natural) - Javanese (Indonesia)";
      } else if (this.langOption == "SU") {
        speech.setLanguage("su-ID");
        this.lang = "su-ID";
        this.voiceName =
          "Microsoft Tuti Online (Natural) - Sundanese (Indonesia)";
      }

      await speech.init({
        volume: 0.5,
        lang: this.lang,
        rate: 1,
        pitch: 1,
        name: this.voiceName,
        voiceURI: this.voiceName,
        splitSentences: true,
        listeners: {
          onvoiceschanged: (voices) => {
            console.log("Event voiceschanged", voices);
          },
        },
      });
      speech.speak({
        text: this.textDefault,
      });

      // const blob = await speech.toBlob(this.textDefault);
      // const url = URL.createObjectURL(blob);

      // const downloader = new FileDownloader();
      // downloader.download(url, "audio.mp3", "audio/mpeg");
    },
    readFile() {
      this.file = this.$refs.doc.files[0];
      const reader = new FileReader();
      if (this.file.name.includes(".txt")) {
        reader.onload = (res) => {
          this.textDefault = res.target.result;
        };
        reader.onerror = (err) => console.log(err);
        reader.readAsText(this.file);
      } else {
        this.textDefault = "check the console for file output";
        reader.onload = (res) => {
          console.log(res.target.result);
        };
        reader.onerror = (err) => console.log(err);
        reader.readAsText(this.file);
      }
    },
    clearText() {
      this.textDefault = "";
    },
    async translateText() {
      const fromLang = this.translateFrom;
      const toLang = this.translateTo;
      // console.log(fromLang, toLang);
      let text = await translate(this.beforeTranslation, {
        from: fromLang,
        to: toLang,
      });
      // console.log(text);
      this.afterTranslation = text;
    },
    async speakTranslatedText(){
      const speech = new Speech()
      
      if (this.translateTo == "indonesian") {
        this.lang = "id-ID";
        this.voiceName =
          "Microsoft Ardi Online (Natural) - Indonesian (Indonesia) " ||
          "Google Bahasa Indonesia";
      } else if (this.translateTo == "english") {
        this.lang = "en-GB";
        this.voiceName =
          "Google UK English Female" ||
          "Microsoft Maisie Online (Natural) - English (United Kingdom)";
      } else if (this.translateTo == "javanese") {
        speech.setLanguage("jv-ID");
        this.lang = "jv-ID";
        this.voiceName =
          "Microsoft Siti Online (Natural) - Javanese (Indonesia)";
      } else if (this.translateTo == "sundanese") {
        speech.setLanguage("su-ID");
        this.lang = "su-ID";
        this.voiceName =
          "Microsoft Tuti Online (Natural) - Sundanese (Indonesia)";
      }
  
      await speech.init({
          volume: 0.5,
          lang: this.lang,
          rate: 1,
          pitch: 1,
          name: this.voiceName,
          voiceURI: this.voiceName,
          splitSentences: true,
          listeners: {
            onvoiceschanged: (voices) => {
              console.log("Event voiceschanged", voices);
            },
          },
        });
        speech.speak({
          text: this.afterTranslation,
        });
    }
  },
};
</script>

/* default : false lang : "id-ID" localService : false name : "Microsoft Gadis
Online (Natural) - Indonesian (Indonesia)" voiceURI : "Microsoft Gadis Online
(Natural) - Indonesian (Indonesia)" */

<template>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <p>nanti logo taro sini ya</p>
      </a>
    </div>
  </nav>
  <div class="container text-center mb-3 pb-3">
    <h1>Tekmul woy</h1>
  </div>
  <div class="container mt-2 pt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">Text-to-Speech</div>
        <div class="card-body grid gap-0 column-gap-2 p-2 m-2 g-col-6">
          <textarea
            class="form-control"
            id="floatingTextarea2Disabled"
            style="height: 100px"
            v-model="textDefault"
          ></textarea>
          <br />
          <div class="d-flex gap-2 lang-select">
            <button @click="speechCreate()" class="btn btn-primary">
              Speak
            </button>
            <select
              class="d-flex gap-2 form-select"
              aria-label="Default select example"
              v-model="langOption"
              @change=""
            >
              <option selected disabled>Select a language</option>
              <option value="ID">Bahasa Indonesia</option>
              <option value="EN">Bahasa Inggris</option>
              <option value="JV">Bahasa Jawa</option>
              <option value="SU">Bahasa Sunda</option>
            </select>
            <div class="doc-select">
              <input
                class="form-control"
                type="file"
                id="formFile"
                ref="doc"
                @change="readFile()"
              />
            </div>
            <div class="d-flex flex-row">
              <button @click="clearText()" class="btn btn-primary">
                Clear
              </button>
            </div>
            <div class="d-flex flex-row">
              <button @click="audioDownload()" class="btn btn-primary">
                donlod
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Translate -->

    <br /><br />

    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">From</h5>
            <div class="form-floating pb-3">
                  <textarea
                    class="form-control"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="beforeTranslation"
                  ></textarea>
                </div>
                <div class="d-flex flex-row gap-2 w-50">
                  <select
                      class="form-select"
                      aria-label="Default select example"
                      v-model="translateFrom"
                    >
                      <option value="indonesian">Bahasa Indonesia</option>
                      <option value="english">Bahasa Inggris</option>
                      <option value="javanese">Bahasa Jawa</option>
                      <option value="sundanese">Bahasa Sunda</option>
                    </select>
                  </div>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">To</h5>
            <div class="form-floating pb-3">
                  <textarea
                    class="form-control"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="afterTranslation"
                  ></textarea>
                </div>
                <!-- select language -->
                <div class="d-flex flex-row w-60 gap-2">
                  <select
                      class="form-select"
                      aria-label="Default select example"
                      v-model="translateTo"
                    >
                      <option value="indonesian">Bahasa Indonesia</option>
                      <option value="english">Bahasa Inggris</option>
                      <option value="javanese">Bahasa Jawa</option>
                      <option value="sundanese">Bahasa Sunda</option>
                    </select>
                    <div class="d-flex flex-row justify-content-end">
                      <a class="btn btn-primary" @click="translateText()">Translate</a>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                      <a class="btn btn-primary" @click="speakTranslatedText()">Speak</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    

      <br /><br />

    </div>
  </div>
</template>

<style>
.lang-select {
  width: 700px;
}

.doc-select {
  width: 900px;
}

.select-after-translation,
.select-before-translation {
  width: 300px;
}

.translate-button {
  top: 0%;
}
</style>
